RewriteEngine on

RewriteRule ^$ media.php?module=home [L]
RewriteRule ^profil-kami\.html$ media.php?module=profilkami&id=$1 [L]
RewriteRule ^keranjang-belanja\.html$ media.php?module=keranjangbelanja [L]
RewriteRule ^artikel$ media.php?module=artikel [L]
RewriteRule ^artikel-([0-9]+)-(.*)\.html$ media.php?module=detailartikel&id=$1 [L]
RewriteRule ^halartikel-(.*)\.html$ media.php?module=artikel&halartikel=$1 [L]
RewriteRule ^login$ media.php?module=login [L]
RewriteRule ^forget-password$ media.php?module=forgot-password [L]
RewriteRule ^reset-password-([0-9]+)$ media.php?module=reset&id=$1 [L]
RewriteRule ^reset-password$ media.php?module=reset [L]
RewriteRule ^account$ media.php?module=account [L]
RewriteRule ^history$ media.php?module=history [L]
RewriteRule ^halhistory-([0-9]+)\.html$ media.php?module=history&halhistory=$1 [L]
RewriteRule ^kategori-([0-9]+)-(.*)\.html$ media.php?module=kategori&id=$1 [L]
RewriteRule ^kategoriproduk-([0-9]+)-(.*)\.html$ media.php?module=kategoriproduk&id=$1 [L]
RewriteRule ^halkategoriproduk-([0-9]+)-(.*)\.html$ media.php?module=kategoriproduk&id=$1&halkategoriproduk=$2 [L]
RewriteRule ^subkategoriproduk-([0-9]+)-(.*)\.html$ media.php?module=subkategoriproduk&id=$1 [L]
RewriteRule ^halsubkategoriproduk-([0-9]+)-(.*)\.html$ media.php?module=subkategoriproduk&id=$1&halsubkategoriproduk=$2 [L]
RewriteRule ^hubungi-kami\.html$ media.php?module=hubungikami [L]
RewriteRule ^artikel-([0-9]+)-(.*)\.html$ media.php?module=detailartikel&id=$1 [L]
RewriteRule ^semua-produk\.html$ media.php?module=semuaproduk [L]
RewriteRule ^halproduk-(.*)\.html$ media.php?module=semuaproduk&halproduk=$1 [L]
RewriteRule ^produk-(.*)\.html$ media.php?module=detailproduk&id=$1 [L]
RewriteRule ^hasil-pencarian\.html$ media.php?module=hasilcari&id=$1 [L]
RewriteRule ^check-out$ media.php?module=cekout [L]
RewriteRule ^konfirmasi\.html$ media.php?module=konfirmasi [L]
RewriteRule ^custom\.html$ media.php?module=custom [L]
RewriteRule ^statis-([0-9]+)-(.*)\.html$ media.php?module=halamanstatis&id=$1[L]